.ml-2{
    margin: 5rem auto; 
    padding: 2rem;
    width: 30rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    background: linear-gradient(135deg, #ffffff, #ffffff);
}


.card-title1 {
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: #343a40;
}


.form-control {
    border-radius: 0.5rem;
    border: 1px solid #ced4da;
    padding: 0.75rem;
    font-size: 1rem;
}


.btn-primary1 {
    background-color: #4267b2;
    border-color: #fff;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary1:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}


.form-check-input1 {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
}

.form-check-label1 {
    cursor: pointer;
    margin-left: 0.75rem;
    color: #495057;
    font-size: 0.9rem;

}

.SignGoogle{
    border: #343a40,solid,1px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.SignGoogle:hover{
    background-color: #58a1eb;
    color: white
}