/* Styling for the popup */
.user-profile-container {
    position: relative;
    display: inline-block;
    padding: 40px;
  }
  
  .popup {
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    z-index: 1;
  }
  
  .card {
    /* text-align: center; */
  }
  
  /* Styling for the profile button */
  .profile-button {
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
    font-size: 18px;
  }
  
  .profile-button:hover {
    opacity: 0.7;
  }
  
  /* Styling for the close button */
  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
    font-size: 18px;
  }
  
  .close-button:hover {
    opacity: 0.7;
  }
  